@media only screen and (max-width: 600px) {
  my-app {
    padding-bottom: 1rem;
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: "head" "main" "menu";
  }
  my-app footer {
    display: none;
  }
  my-app aside menu {
    flex-direction: row;
  }
}
@media only screen and (min-width: 601px) {
  my-app {
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-columns: 200px 1fr;
    grid-template-areas: "head head" "menu main" "foot foot";
  }
  my-app aside menu {
    flex-direction: column;
  }
  my-app aside menu li {
    margin-bottom: 1rem;
    padding: 0;
  }
  my-app aside menu li a {
    display: inline-block;
  }
}
:root {
  --ac-grid-default: 45px 1fr 80px;
  --ac-bg-default: #efefef;
  --ac-color-default: #333;
  --ac-accent-color-default: #f68;
  --ac-rad: 1rem;
  --ac-box-shadow: 1px 1px 10px rgba(0, 0, 0, .1) --ac-margin: 0;
  --ac-icon-fill-default: var(--ac-accent-color-default);
}

.ac-container .ac-suggestion {
  background-color: transparent;
  max-height: var(--ac-max-height, var(--ac-margin-default));
  position: absolute;
  z-index: 99;
  left: 0px;
  padding: 0;
  border-radius: 0 0 1rem 1rem;
  box-shadow: var(--ac-box-shadow);
}
.ac-container .ac-suggestion .ac-empty {
  padding: 1rem;
  border-radius: 1rem;
}
.ac-container .ac-suggestion .ac-itm {
  display: grid;
  grid-template-columns: var(--ac-grid, var(--ac-grid-default));
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--ac-bg, var(--ac-bg-default));
  color: var(--ac-color, var(--ac-color-default));
  cursor: pointer;
  transition: all 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ac-container .ac-suggestion .ac-itm img {
  width: var(--icon-size);
  height: var(--icon-size);
}
.ac-container .ac-suggestion .ac-itm .category {
  float: right;
  text-align: right;
  color: var(--ac-color);
  opacity: 0.6;
  font-size: smaller;
}
.ac-container .ac-suggestion .ac-itm,
.ac-container .ac-suggestion .text {
  overflow: visible;
  text-overflow: unset;
  white-space: unset;
  height: auto !important;
}
.ac-container .ac-suggestion .ac-itm {
  border-radius: 0;
  padding: 0.8rem 0.3rem;
}
.ac-container .ac-suggestion .ac-itm svg-icon {
  --icon-fill-color: var(--ac-icon-fill, var(--ac-accent-color-default));
}
.ac-container .ac-suggestion .ac-itm small {
  color: #999;
}
.ac-container .ac-suggestion .ac-itm:hover, .ac-container .ac-suggestion .ac-itm.selected {
  transition: all 0.1s;
  font-weight: unset;
  background-color: var(--accent-color, var(--ac-accent-color-default));
  color: var(--ac-bg);
}
.ac-container .ac-suggestion .ac-itm:hover svg-icon, .ac-container .ac-suggestion .ac-itm.selected svg-icon {
  --icon-fill-color: white;
}
.ac-container .ac-suggestion .ac-itm:hover small, .ac-container .ac-suggestion .ac-itm.selected small {
  color: white;
}
.ac-container .ac-suggestion .ac-itm:hover .category, .ac-container .ac-suggestion .ac-itm.selected .category {
  color: inherit;
}
.ac-container.ac-active[data-direction=down] .ac-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ac-container.ac-active[data-direction=down] .ac-itm:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ac-container.ac-active[data-direction=down] .ac-itm:last-child {
  border-bottom-left-radius: var(--ac-rad);
  border-bottom-right-radius: var(--ac-rad);
}
.ac-container.ac-active[data-direction=up] .ac-input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ac-container.ac-active[data-direction=up] .ac-itm:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ac-container.ac-active[data-direction=up] .ac-itm:first-child {
  border-top-left-radius: var(--ac-rad);
  border-top-right-radius: var(--ac-rad);
}

@media only screen and (max-width: 600px) {
  .ac-container .ac-suggestion.full-mobile {
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    grid-area: suggest;
    position: relative;
    max-height: unset;
    max-width: unset;
  }
  .ac-container .ac-suggestion.full-mobile .ac-itm {
    padding: 0.8rem 0;
    background-color: transparent;
    margin: 0rem 0.2rem 0.2rem 0;
    border-radius: var(--radius-small, 0.2rem);
  }
  .ac-container .ac-suggestion.full-mobile .ac-itm:hover, .ac-container .ac-suggestion.full-mobile .ac-itm.selected {
    background-color: var(--color-accent-300);
    color: white;
  }
}
label:has(input[type=text]),
label:has(input[type=email]),
label:has(input[type=number]),
label:has(input[type=password]),
label:has(input[type=url]),
label:has(input[type=tel]),
label:has(input[type=search]),
label:has(input[type=date]),
label:has(select) {
  position: relative;
  display: block;
}
label:has(input[type=text]) > span[data-label],
label:has(input[type=email]) > span[data-label],
label:has(input[type=number]) > span[data-label],
label:has(input[type=password]) > span[data-label],
label:has(input[type=url]) > span[data-label],
label:has(input[type=tel]) > span[data-label],
label:has(input[type=search]) > span[data-label],
label:has(input[type=date]) > span[data-label],
label:has(select) > span[data-label] {
  display: inline-block;
  pointer-events: none;
  position: absolute;
  top: 50%;
  padding: 0 5px;
  transform: translateY(-50%);
  left: var(--gutter-small);
  will-change: top, left;
  transition: all 0.2s ease;
  text-wrap: nowrap;
  border-radius: 1rem;
  z-index: 1;
}
label:has(input[type=text]):has([required]) > span::after,
label:has(input[type=email]):has([required]) > span::after,
label:has(input[type=number]):has([required]) > span::after,
label:has(input[type=password]):has([required]) > span::after,
label:has(input[type=url]):has([required]) > span::after,
label:has(input[type=tel]):has([required]) > span::after,
label:has(input[type=search]):has([required]) > span::after,
label:has(input[type=date]):has([required]) > span::after,
label:has(select):has([required]) > span::after {
  content: "*";
  position: absolute;
  color: var(--color-accent, red);
  top: -20%;
}
label:has(input[type=text]) input,
label:has(input[type=text]) select,
label:has(input[type=email]) input,
label:has(input[type=email]) select,
label:has(input[type=number]) input,
label:has(input[type=number]) select,
label:has(input[type=password]) input,
label:has(input[type=password]) select,
label:has(input[type=url]) input,
label:has(input[type=url]) select,
label:has(input[type=tel]) input,
label:has(input[type=tel]) select,
label:has(input[type=search]) input,
label:has(input[type=search]) select,
label:has(input[type=date]) input,
label:has(input[type=date]) select,
label:has(select) input,
label:has(select) select {
  padding: 0.75rem 1.6rem;
  margin: 0;
  line-height: 26px;
}
label:has(input[type=text]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=text]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=email]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=email]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=number]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=number]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=password]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=password]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=url]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=url]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=tel]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=tel]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=search]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=search]):has(span[data-label]) select::-moz-placeholder, label:has(input[type=date]):has(span[data-label]) input::-moz-placeholder, label:has(input[type=date]):has(span[data-label]) select::-moz-placeholder, label:has(select):has(span[data-label]) input::-moz-placeholder, label:has(select):has(span[data-label]) select::-moz-placeholder {
  opacity: 0;
}
label:has(input[type=text]):has(span[data-label]) input::placeholder,
label:has(input[type=text]):has(span[data-label]) select::placeholder,
label:has(input[type=email]):has(span[data-label]) input::placeholder,
label:has(input[type=email]):has(span[data-label]) select::placeholder,
label:has(input[type=number]):has(span[data-label]) input::placeholder,
label:has(input[type=number]):has(span[data-label]) select::placeholder,
label:has(input[type=password]):has(span[data-label]) input::placeholder,
label:has(input[type=password]):has(span[data-label]) select::placeholder,
label:has(input[type=url]):has(span[data-label]) input::placeholder,
label:has(input[type=url]):has(span[data-label]) select::placeholder,
label:has(input[type=tel]):has(span[data-label]) input::placeholder,
label:has(input[type=tel]):has(span[data-label]) select::placeholder,
label:has(input[type=search]):has(span[data-label]) input::placeholder,
label:has(input[type=search]):has(span[data-label]) select::placeholder,
label:has(input[type=date]):has(span[data-label]) input::placeholder,
label:has(input[type=date]):has(span[data-label]) select::placeholder,
label:has(select):has(span[data-label]) input::placeholder,
label:has(select):has(span[data-label]) select::placeholder {
  opacity: 0;
}
label:has(input[type=text]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=text]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=email]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=email]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=number]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=number]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=password]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=password]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=url]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=url]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=tel]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=tel]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=search]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=search]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=date]):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=date]):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(select):has(input:not(:focus):not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(select):has(select:not(:-moz-placeholder-shown)) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=email]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=number]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=password]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=url]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=tel]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=search]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(input[type=date]):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label], label:has(select):has(input:not(:-moz-placeholder-shown)) label:has(select):has(select:focus) span[data-label] {
  background-color: white;
  font-size: smaller;
  top: 0;
  will-change: top, left;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  text-wrap: nowrap;
  z-index: 1;
}
label:has(input[type=text]):has(input:focus) span[data-label], label:has(input[type=text]):has(input:not(:focus):not(:placeholder-shown)) span[data-label], label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label], label:has(input[type=text]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=email]):has(input:focus) span[data-label],
label:has(input[type=email]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=email]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=number]):has(input:focus) span[data-label],
label:has(input[type=number]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=number]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=password]):has(input:focus) span[data-label],
label:has(input[type=password]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=password]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=url]):has(input:focus) span[data-label],
label:has(input[type=url]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=url]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=tel]):has(input:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=search]):has(input:focus) span[data-label],
label:has(input[type=search]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=search]):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=date]):has(input:focus) span[data-label],
label:has(input[type=date]):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=date]):has(select:not(:placeholder-shown)) span[data-label],
label:has(select):has(input:focus) span[data-label],
label:has(select):has(input:not(:focus):not(:placeholder-shown)) span[data-label],
label:has(input[type=text]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(select):has(select:not(:placeholder-shown)) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=email]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=number]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=password]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=url]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=tel]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=search]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(input[type=date]):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=text]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=email]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=number]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=password]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=url]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=tel]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=search]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(input[type=date]):has(select:focus) span[data-label],
label:has(select):has(input:not(:placeholder-shown)) label:has(select):has(select:focus) span[data-label] {
  background-color: white;
  font-size: smaller;
  top: 0;
  will-change: top, left;
  transition: all 0.2s ease;
  text-wrap: nowrap;
  z-index: 1;
}
label:has(input[type=text]):has(input:focus) input,
label:has(input[type=text]):has(input:focus) select, label:has(input[type=text]):has(select:focus) input,
label:has(input[type=text]):has(select:focus) select,
label:has(input[type=email]):has(input:focus) input,
label:has(input[type=email]):has(input:focus) select,
label:has(input[type=email]):has(select:focus) input,
label:has(input[type=email]):has(select:focus) select,
label:has(input[type=number]):has(input:focus) input,
label:has(input[type=number]):has(input:focus) select,
label:has(input[type=number]):has(select:focus) input,
label:has(input[type=number]):has(select:focus) select,
label:has(input[type=password]):has(input:focus) input,
label:has(input[type=password]):has(input:focus) select,
label:has(input[type=password]):has(select:focus) input,
label:has(input[type=password]):has(select:focus) select,
label:has(input[type=url]):has(input:focus) input,
label:has(input[type=url]):has(input:focus) select,
label:has(input[type=url]):has(select:focus) input,
label:has(input[type=url]):has(select:focus) select,
label:has(input[type=tel]):has(input:focus) input,
label:has(input[type=tel]):has(input:focus) select,
label:has(input[type=tel]):has(select:focus) input,
label:has(input[type=tel]):has(select:focus) select,
label:has(input[type=search]):has(input:focus) input,
label:has(input[type=search]):has(input:focus) select,
label:has(input[type=search]):has(select:focus) input,
label:has(input[type=search]):has(select:focus) select,
label:has(input[type=date]):has(input:focus) input,
label:has(input[type=date]):has(input:focus) select,
label:has(input[type=date]):has(select:focus) input,
label:has(input[type=date]):has(select:focus) select,
label:has(select):has(input:focus) input,
label:has(select):has(input:focus) select,
label:has(select):has(select:focus) input,
label:has(select):has(select:focus) select {
  border-color: var(--color-primary-000);
}
label:has(input[type=text]):has(input:focus) input::-moz-placeholder, label:has(input[type=text]):has(input:focus) select::-moz-placeholder, label:has(input[type=text]):has(select:focus) input::-moz-placeholder, label:has(input[type=text]):has(select:focus) select::-moz-placeholder, label:has(input[type=email]):has(input:focus) input::-moz-placeholder, label:has(input[type=email]):has(input:focus) select::-moz-placeholder, label:has(input[type=email]):has(select:focus) input::-moz-placeholder, label:has(input[type=email]):has(select:focus) select::-moz-placeholder, label:has(input[type=number]):has(input:focus) input::-moz-placeholder, label:has(input[type=number]):has(input:focus) select::-moz-placeholder, label:has(input[type=number]):has(select:focus) input::-moz-placeholder, label:has(input[type=number]):has(select:focus) select::-moz-placeholder, label:has(input[type=password]):has(input:focus) input::-moz-placeholder, label:has(input[type=password]):has(input:focus) select::-moz-placeholder, label:has(input[type=password]):has(select:focus) input::-moz-placeholder, label:has(input[type=password]):has(select:focus) select::-moz-placeholder, label:has(input[type=url]):has(input:focus) input::-moz-placeholder, label:has(input[type=url]):has(input:focus) select::-moz-placeholder, label:has(input[type=url]):has(select:focus) input::-moz-placeholder, label:has(input[type=url]):has(select:focus) select::-moz-placeholder, label:has(input[type=tel]):has(input:focus) input::-moz-placeholder, label:has(input[type=tel]):has(input:focus) select::-moz-placeholder, label:has(input[type=tel]):has(select:focus) input::-moz-placeholder, label:has(input[type=tel]):has(select:focus) select::-moz-placeholder, label:has(input[type=search]):has(input:focus) input::-moz-placeholder, label:has(input[type=search]):has(input:focus) select::-moz-placeholder, label:has(input[type=search]):has(select:focus) input::-moz-placeholder, label:has(input[type=search]):has(select:focus) select::-moz-placeholder, label:has(input[type=date]):has(input:focus) input::-moz-placeholder, label:has(input[type=date]):has(input:focus) select::-moz-placeholder, label:has(input[type=date]):has(select:focus) input::-moz-placeholder, label:has(input[type=date]):has(select:focus) select::-moz-placeholder, label:has(select):has(input:focus) input::-moz-placeholder, label:has(select):has(input:focus) select::-moz-placeholder, label:has(select):has(select:focus) input::-moz-placeholder, label:has(select):has(select:focus) select::-moz-placeholder {
  opacity: 1;
}
label:has(input[type=text]):has(input:focus) input::placeholder,
label:has(input[type=text]):has(input:focus) select::placeholder, label:has(input[type=text]):has(select:focus) input::placeholder,
label:has(input[type=text]):has(select:focus) select::placeholder,
label:has(input[type=email]):has(input:focus) input::placeholder,
label:has(input[type=email]):has(input:focus) select::placeholder,
label:has(input[type=email]):has(select:focus) input::placeholder,
label:has(input[type=email]):has(select:focus) select::placeholder,
label:has(input[type=number]):has(input:focus) input::placeholder,
label:has(input[type=number]):has(input:focus) select::placeholder,
label:has(input[type=number]):has(select:focus) input::placeholder,
label:has(input[type=number]):has(select:focus) select::placeholder,
label:has(input[type=password]):has(input:focus) input::placeholder,
label:has(input[type=password]):has(input:focus) select::placeholder,
label:has(input[type=password]):has(select:focus) input::placeholder,
label:has(input[type=password]):has(select:focus) select::placeholder,
label:has(input[type=url]):has(input:focus) input::placeholder,
label:has(input[type=url]):has(input:focus) select::placeholder,
label:has(input[type=url]):has(select:focus) input::placeholder,
label:has(input[type=url]):has(select:focus) select::placeholder,
label:has(input[type=tel]):has(input:focus) input::placeholder,
label:has(input[type=tel]):has(input:focus) select::placeholder,
label:has(input[type=tel]):has(select:focus) input::placeholder,
label:has(input[type=tel]):has(select:focus) select::placeholder,
label:has(input[type=search]):has(input:focus) input::placeholder,
label:has(input[type=search]):has(input:focus) select::placeholder,
label:has(input[type=search]):has(select:focus) input::placeholder,
label:has(input[type=search]):has(select:focus) select::placeholder,
label:has(input[type=date]):has(input:focus) input::placeholder,
label:has(input[type=date]):has(input:focus) select::placeholder,
label:has(input[type=date]):has(select:focus) input::placeholder,
label:has(input[type=date]):has(select:focus) select::placeholder,
label:has(select):has(input:focus) input::placeholder,
label:has(select):has(input:focus) select::placeholder,
label:has(select):has(select:focus) input::placeholder,
label:has(select):has(select:focus) select::placeholder {
  opacity: 1;
}

html[data-transition=forwards] :root,
html[data-transition=backwards] :root {
  view-transition-name: none;
}
html[data-transition=forwards]::view-transition-new(main), html[data-transition=forwards]::view-transition-old(main), html[data-transition=forwards]::view-transition-new(footer-content),
html[data-transition=backwards]::view-transition-new(main),
html[data-transition=backwards]::view-transition-old(main),
html[data-transition=backwards]::view-transition-new(footer-content) {
  animation-duration: 300ms;
}
html[data-transition=forwards]::view-transition-new(footer-content), html[data-transition=forwards]::view-transition-new(top-bar),
html[data-transition=backwards]::view-transition-new(footer-content),
html[data-transition=backwards]::view-transition-new(top-bar) {
  animation-name: steady;
}

html[data-transition=forwards]::view-transition-old(main)::view-transition-old(main) {
  animation-name: shrink;
  transform-origin: 100% 50%;
}
html[data-transition=forwards]::view-transition-new(main) {
  animation-name: slide-in-from-right;
  background: var(--color-primary-100);
}

html[data-transition=backwards]::view-transition-old(main) {
  animation-name: slide-out-to-right;
  z-index: 1;
  background: var(--color-primary-100);
}
html[data-transition=backwards]::view-transition-new(main) {
  animation-name: fade-in;
  transform-origin: 100% 50%;
}

@keyframes steady {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in-from-left {
  from {
    translate: -100vw 0;
  }
}
@keyframes slide-in-from-right {
  from {
    translate: 100vw 0;
  }
}
@keyframes slide-out-to-left {
  to {
    translate: -100vw 0;
  }
}
@keyframes slide-out-to-right {
  to {
    translate: 100vw 0;
  }
}
@keyframes shrink {
  to {
    scale: 0.8;
    opacity: 0.5;
  }
}
@keyframes grow {
  from {
    scale: 0.8;
    opacity: 0.5;
  }
}
@keyframes slide-in {
  from {
    translate: 100vw 0;
  }
}
@keyframes slide-out {
  to {
    translate: 100vw 0;
  }
}
@keyframes scale-up {
  from {
    scale: 0;
  }
}
@keyframes scale-down {
  to {
    scale: 0;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
}
@keyframes fade-out {
  to {
    opacity: 0;
  }
}
:root {
  --accent-color: #219f38;
  --header-height: 100px;
  --footer-height: 50px;
  --icon-fill-color: black;
  --padding-default: .5rem;
  --padding-larger: 1rem;
  --slot-padding: var(--padding-default, 10px);
  --box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
  --border-radius-normal: 1rem;
  --button-color: #fff;
  --button-background: var(--accent-color);
  --button-background-hover: #ca2c6b;
  --button-icon-color: #fff;
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  accent-color: var(--accent-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  background: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 90%);
  background-image: radial-gradient(circle at 86% 50%, hsl(280, 0%, 89%) 6.6887545664%, transparent 44.9843825416%);
  background-blend-mode: normal;
}

body {
  height: 100lvh;
  margin: auto;
}

my-app {
  height: 100%;
  display: grid;
}
my-app header {
  z-index: 10;
  grid-area: head;
  padding: 1rem;
}
my-app aside {
  grid-area: menu;
  padding: 1rem;
}
my-app footer {
  grid-area: foot;
}
my-app main {
  grid-area: main;
  max-width: 800px;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
}

header {
  height: var(--header-height);
}
header h1 {
  color: #dd4477;
}
header h2 {
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}

footer {
  height: var(--footer-height);
  color: white;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 0;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
}

aside menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  list-style: none;
}
aside menu a {
  display: inline-block;
  background-color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

#omnibox {
  position: fixed;
  top: 20px;
  right: 20px;
}
#omnibox span[data-label] {
  display: none;
}
#omnibox span[data-label] > input {
  width: 60px;
}

.tiles {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.tiles .item {
  border-radius: 1rem;
  background-color: #ffffff;
}
.tiles .photothumb {
  width: 100%;
}
.tiles .title {
  border-radius: 1rem 1rem 0 0;
  padding: 20px;
}
.tiles .title h3 {
  font-size: 1.2em;
  color: #ffffff;
  text-transform: uppercase;
}
.tiles .project .title {
  background-color: #607D8B;
}
.tiles .blog .title {
  background-color: #ff9800;
}
.tiles .photo .title {
  background-color: #f44336;
}
.tiles .desc {
  padding: 10px 10px 5px 10px;
}
.tiles .desc img {
  width: 50%;
  margin: 0 10px 10px 0;
  float: left;
}
.tiles .desc p {
  margin-bottom: 10px;
}

main {
  view-transition-name: main;
}

footer {
  view-transition-name: footer-content;
}

header {
  view-transition-name: top-bar;
}/*# sourceMappingURL=main.css.map */