@media only screen and (max-width: 600px) {
  :root {
    --header-height: 70px;
    --padding-w: 10px;
    --padding-h: 10px;
  }

  pure-web {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    grid-template-columns: 1fr;

    grid-template-areas:
      "head"
      "main"
      "menu";

    header {
      width: calc(100vw - calc(2 * var(--padding-h)));
      overflow: hidden;

      h1 {
        display: inline-block;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    footer {
      display: none;
    }

    aside {
      position: fixed;
      z-index: 1;
      background-color: black;
      bottom: 0;
      left: 0;
      right: 0;
      padding: var(--padding);

      menu {
        flex-direction: row;
      }
    }

  }
}
