@media only screen and (max-width: 600px) {
  :root{
    --header-height: 70px;
  }

  pure-web {
    height: 100%;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    grid-template-columns: 1fr;

    grid-template-areas:
      "head"
      "main"
      "menu";

    header{
      padding: 10px
    }
    main{
      padding: 10px
    }



    footer {
      display: none;
    }

    aside {
      padding: 10px;
      menu{
        flex-direction: row;
      }
    }

  }
}
