@media only screen and (min-width: 601px) {
  my-app {
    grid-template-rows: var(--header-height) 1fr var(--footer-height);
    grid-template-columns: 200px 1fr;

    grid-template-areas:
      "head head"
      "menu main"
      "foot foot";

      aside {
        menu{
          flex-direction: column;

          li{
            margin-bottom: 1rem;
            padding: 0;

            a{
              display: inline-block;
            }
          }
        }
      }


  }
}
