@import "./mobile";
@import "./responsive";
@import "./ac";
@import "./form";
@import "./view-transitions";
@import "./drop-button";

:root {
  --accent-color: #dd4477;
  --heading-color: var(--accent-color);
  --footer-height: 50px;
  --icon-fill-color: black;
  --padding-default: .5rem;
  --padding-larger: 1rem;
  --slot-padding: var(--padding-default, 10px);
  --box-shadow: 2px 2px 6px rgba(0, 0, 0, .1);
  --border-radius-normal: 1rem;
  --button-color: white;
  --button-background: #666;
  --button-background-hover: var(--accent-color);
  --button-icon-color: #fff;
  -webkit-font-smoothing: antialiased;
  --padding: var(--padding-h) var(--padding-w);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  accent-color: var(--accent-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: hsla(60.882352941178326, 0%, 96%, 1);
  // background-image: radial-gradient(circle at 64% 12%, hsla(63.5294117647059, 52%, 85%, 1) 6.688754566361296%, transparent 44.98438254159411%), radial-gradient(circle at 86% 50%, hsla(285.88235294117646, 52%, 85%, 1) 6.688754566361296%, transparent 44.98438254159411%);
  // background-blend-mode: darken, normal;
  background-color: hsla(278, 62%, 76%, 1);
  background-image: radial-gradient(circle at 88% 66%, hsla(236, 89%, 99%, 1) 20%, transparent 72%), radial-gradient(circle at 49% 38%, hsla(223, 92%, 82%, 1) 8%, transparent 83%), radial-gradient(circle at 5% 29%, hsla(282, 92%, 99%, 1) 1%, transparent 88%), radial-gradient(circle at 8% 82%, hsla(326, 89%, 58%, 1) 11%, transparent 84%), radial-gradient(circle at 57% 70%, hsla(194, 70%, 76%, 1) 15%, transparent 88%);
  background-blend-mode: normal, normal, normal, normal, normal;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  height: 100lvh;
  margin: auto;

}

pure-web {
  height: 100%;
  display: grid;

  header {
    z-index: 10;
    grid-area: head;
    padding: var(--padding);
  }

  aside {
    grid-area: menu;
  }

  footer {
    grid-area: foot;
  }

  main {
    grid-area: main;
    max-width: 800px;
    padding: var(--padding);
  }
}

ul {
  margin-top: 1rem;
  margin-bottom: 1rem;

  li:not(:has(hr)) {
    list-style-type: none;
    margin-bottom: 1rem;

    ::before {
      content: "⭕";
      display: inline-block;
      margin-right: .4rem;

    }
  }
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

code {
  padding: 1rem;
  background-color: #333;
  color: white;
  border-radius: var(--radius, .5rem);
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: consolas, 'Courier New', Courier, monospace;
  font-size: 14px;
}

h1,
h2,
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;
  font-weight: 200;

}



header {
  height: var(--header-height);

  h1 {
    color: var(--heading-color);
    margin: 0;
    font-size: 1.6rem;
  }

  h2 {
    font-size: .9rem;
    margin-top: -.5rem;
    margin-bottom: .5rem;
  }

}

footer {
  height: var(--footer-height);
  color: white;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: .5rem 1rem;
  border-radius: .5rem;
  outline: none;
  border: 0;
  box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
}

aside {
  menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    list-style: none;

    a {
      display: inline-block;
      background-color: white;
      padding: .3rem .6rem;
      border-radius: .5rem;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;

      &.active {
        filter: invert(100%);
        transition: all .2s ease;
      }
    }
  }
}

.tiles {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  .item {
    border-radius: 1rem;
    background-color: #ffffff;
  }

  .photothumb {
    width: 100%;
  }

  .title {
    border-radius: 1rem 1rem 0 0;
    padding: 20px;
  }

  .title h3 {
    font-size: 1.2em;
    color: #ffffff;
    text-transform: uppercase;
  }

  .project .title {
    background-color: #607D8B;
  }

  .blog .title {
    background-color: #ff9800;
  }

  .photo .title {
    background-color: #f44336;
  }

  .desc {
    padding: 10px 10px 5px 10px;
  }

  .desc img {
    width: 50%;
    margin: 0 10px 10px 0;
    float: left;
  }

  .desc p {
    margin-bottom: 10px;
  }
}

main {
  view-transition-name: main;

  h2,
  h3,
  h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}

footer {
  view-transition-name: footer-content;
}

header {
  view-transition-name: top-bar;
}


.icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  &.x-large {
    --icon-size: 256px
  }
}

.showcases {
  > * {
    margin-bottom: 4rem;
  }
}
